@font-face {
    font-family: 'Baloo';
    src: url(../fonts/Baloo-Regular.ttf);
}

@font-face {
    font-family: 'Comfortaa';
    src: url(../fonts/Comfortaa-Regular.ttf);
}

body {
    width: 100%;
    font-family: 'Comfortaa';
    color: #333;
    font-size: 0.9em;
}

.container {
    width: 80vw;
    max-width: 1600px;
    min-width: 900px;
    margin: 0 auto;
}

/*
 #    # ######   ##   #####  ###### #####  
 #    # #       #  #  #    # #      #    # 
 ###### #####  #    # #    # #####  #    # 
 #    # #      ###### #    # #      #####  
 #    # #      #    # #    # #      #   #  
 #    # ###### #    # #####  ###### #    #
 */

header {
    width: 100%;
    height: 50px;
    background-color: #333;
}

header a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    width: 100%;
    text-align: right;
}
nav ul li {
    display: inline-block;
    font-weight: bold;
    margin: 0 10px;
}

nav ul li:not(:first-child) {
    transform: translateY(18px);
}

nav ul li:first-child, nav ul li:first-child a {
    font-family: 'Baloo';
    font-size: 1.5em;
    color: #ffe339;
    text-shadow: -1px 1px #e8bf1f;
    float: left;
    transform: none;
    transform: translateY(4px);
}

/*
 #####  #####   ####  #####  #    #  ####  #####  ####  
 #    # #    # #    # #    # #    # #    #   #   #      
 #    # #    # #    # #    # #    # #        #    ####  
 #####  #####  #    # #    # #    # #        #        # 
 #      #   #  #    # #    # #    # #    #   #   #    # 
 #      #    #  ####  #####   ####   ####    #    ####
 */

 #products {
     margin-top: 15px;
 }
 
.minion {
    display: block;
    overflow: auto;
}

.minion img {
    width: 50%;
}

.minion:nth-child(odd) img {
    float: left;
}

.minion:nth-child(even) img {
    float: right;
}

.minion:not(:first-child)::before {
    content: '';
    width: 600px;
    height: 1px;
    display: block;
    margin: 0 auto;
    background:radial-gradient(circle farthest-side at center center, rgb(0, 141, 255) 0%, rgb(249, 249, 249) 70%);
}

.minion h1, .contact-form h1 {
    font-family: 'Baloo';
    font-size: 1.7em;
    color: #5184AB;
    padding: 25px 0;
}

.minion h1 {
    text-transform: capitalize;
    margin-top: 15px;
}
.minion p {
    text-indent: 25px;
    line-height: 1.5em;
}

.buy {
    margin-top: 30px;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.add-to-cart {
    display: inline-block;
    text-align: left;
}

.add-to-cart label {
    display: block;
    font-weight: bold;
}

.add-to-cart input {
    color: #333;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
    width: 50px;
    margin: 3px 0;
    transform: translateY(2px);
}
.add-to-cart i {
    font-size: 1.5em;
    color: #fff;
    background-color: #c4c4c4;
    padding: 1px;
    border-radius: 100%;
    cursor: pointer;
    transform: translateY(4px);
}

.total {
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

.buy button {
    display: block;
    margin: 30px auto 0;
    font-family: 'Baloo';
    font-size: 1.7em;
    color: #fff;
    text-transform: lowercase;
    background-color: #fad65d;
    width: 150px;
    border-radius: 30px;
    padding: 10px 0;
    border: none;
    transition: .3s;
}

.buy button:hover {
    background-color: #e8bf1f;
    transition: .3s;
    cursor: pointer;
}


/*
                                                
  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    #
*/

#contact {
    background: url(../images/left-minion.jpg) left no-repeat, url(../images/right-minion.jpg) right no-repeat;
    background-size: 65%;
    background-position-y: 260px;
}

.contact-form {
    padding-bottom: 100px;
}
.contact-form h1 {
    text-align: center;
}

.contact-form form {
    width: 400px;
    margin: 0 auto;
}

.contact-form label {
    margin-top: 6px;
    display: inline-block;
    font-weight: bold;
}

.contact-form input, textarea, .contact-form.button {
    font-family: 'Comfortaa';
    display: block;
    width: 368px;
    padding: 2px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
    margin: 12px 0;
}

.contact-form ::placeholder {
    font-family: 'Comfortaa';
    color: #c4c4c4;
}

.contact-form textarea {
    border-radius: 10px;
    resize: none;
}

.contact-form button {
    font-family: 'Baloo';
    font-size: 1.7em;
    color: #fff;
    text-transform: lowercase;
    background-color: #fad65d;
    width: 400px;
    border-radius: 30px;
    padding: 10px 0;
    border: none;
    margin: 20px 0;
    transition: .3s;
}

.contact-form button:hover {
    background-color: #e8bf1f;
    transition: .3s;
    cursor: pointer;
}

/*                                       
 ######  ####   ####  ##### ###### #####  
 #      #    # #    #   #   #      #    # 
 #####  #    # #    #   #   #####  #    # 
 #      #    # #    #   #   #      #####  
 #      #    # #    #   #   #      #   #  
 #       ####   ####    #   ###### #    # 
 */

 footer {
    width: 100%;
    height: 50px;
    background-color: #333;
    text-align: center;
    padding-bottom: 3px;
 }

 footer img {
     margin: 5px 4px;
     padding: 3px 0;
 }